<!DOCTYPE>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
	<link rel="stylesheet" href="css/app.min.css">

</head>
<body id="{{page__title}}" >

{% block content %}
{% endblock %}
	

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="js/vendors.min.js"></script>
	<script src="js/script.min.js"></script> 

</body>
</html>

