{% set title = 'Nike' %}
{% set page__title = 'main-home__page' %}

{% extends 'layout/_layout.html' %}

{% block content %}

{% include "partials/_header.html" %}

<main class="page-content__wrap">
	<div class="padding-2">
		<section class="new-nike">
			<div class="new-nike__container">
				<div class="new-nike__wrap">
					<div class="new-nike__title">
						<div class="page-title">New Nike!</div>
						<div class="oval-text">By Saad Muhamed</div>
						<div class="oval-text">2018</div>
					</div>
					<p class="new-nike__text">
						It's Nike your favorite sport brand ever! Now we make a new field for our users. Why? Because we think that we want to help you more in your life. So, we choose the healthy food field for you to be the super feature in your next life.
					</p>
					<form action="#" id="search__form">
						<input class="square-input" id="search__field" type="search" placeholder="Ask Nike Bot" name="q">
						<button class="ref__btn">?</button>
						<button class="button"><i class="fas fa-arrow-right"></i></button>
					</form>
				</div>
			</div>
			<div class="new-nike__img" style="background-image: url(img/items/new-nike.png);">
			</div>
		</section>
		<section class="news-s">
			<div class="s-title">
				<div class="s-title__text">
					News
					<div class="s-title__bb"></div>
				</div>
			</div>
			<div class="news-items">
				<div class="news-item">
					<div class="news-item__video  overlay">
						<img src="img/home/new-nike1.png" alt="" class="img-responsive">
	
						<div class="news-item__cross">
							<div class="news-item__circle"></div>
							<div class="news-item__footwear" style="background-image: url(img/home/1.png);" ></div>
						</div>

					</div>
					<div class="news-item__title">The fullest enjoyable</div>
					

				</div>
				<div class="news-item">
					<div class="news-item__video overlay">
						<img src="img/home/new-nike2.png" alt="" class="img-responsive">
						<div class="news-item__cross">
							<div class="news-item__circle"></div>
							<div class="news-item__footwear" style="background-image: url(img/home/2.png);" ></div>
						</div>
					</div>
					<div class="news-item__title">Master of bounses</div>
					
					
				</div>
				<div class="news-item">
					<div class="news-item__video overlay">
						<img src="img/home/new-nike3.png" alt="" class="img-responsive">
						<div class="news-item__cross">
							<div class="news-item__circle"></div>
							<div class="news-item__footwear" style="background-image: url(img/home/3.png);" ></div>
						</div>
					</div>
					<div class="news-item__title">The fastest support</div>
					

				</div>
			</div>	
		</section>
		<section class="features-section"  id="s-features" style="background-image: url(img/home/feat.png)">

			<div class="features-container">
				<div class="features-composition-carousel owl-carousel">
					<div class="features-composition-item">
						<h3 class="page-title features-composition__h">What is the new features?</h3>
						<p class="features-composition__text">
							It's Nike your favorite sport brand ever! Now we make a new field for our users. Why? Because we think that we want to help you more in your life. So, we choose the healthy food field for you to be the super feature in your next life.
						</p>
					</div>
					<div class="features-composition-item">
						<h3 class="page-title features-composition__h">What is the new features?</h3>
						<p class="features-composition__text">
							It's Nike your favorite sport brand ever! Now we make a new field for our users. Why? Because we think that we want to help you more in your life. So, we choose the healthy food field for you to be the super feature in your next life.
						</p>
					</div>
					<div class="features-composition-item">
						<h3 class="page-title features-composition__h">What is the new features?</h3>
						<p class="features-composition__text">
							It's Nike your favorite sport brand ever! Now we make a new field for our users. Why? Because we think that we want to help you more in your life. So, we choose the healthy food field for you to be the super feature in your next life.
						</p>
					</div>
					<div class="features-composition-item">
						<h3 class="page-title features-composition__h">What is the new features?</h3>
						<p class="features-composition__text">
							It's Nike your favorite sport brand ever! Now we make a new field for our users. Why? Because we think that we want to help you more in your life. So, we choose the healthy food field for you to be the super feature in your next life.It's Nike your favorite sport brand ever! Now we make a new field for our users. 
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="s-challenges" id="s-challenges">
			<div class="s-title">
				<div class="s-title__text">
					Challenges
					<div class="s-title__bb"></div>
				</div>
			</div>
			<div class="chall-carousel owl-carousel">
				<div class="chall-item ">
					<div class="chall-item__img ">
						<img src="img/home/chall.png" alt="challenge" class="img-responsive">
					</div>
					<div class="chall__comp">
						<div class="chall-item__title">The fastest support</div>
						<p class="call-item__text">
							It's Nike your favorite sport brand ever! Now we make a new field for our users. Why? Because we think that we want to help you more in your life. So, we choose the healthy food field for you to be the super feature in your next life.
						</p>
						<p><a href="offers1.html">The fastest support <i class="fas fa-arrow-right"></i></a></p>
					</div>
				</div>

				<div class="chall-item ">
					<div class="chall-item__img ">
						<img src="img/home/chall.png" alt="challenge" class="img-responsive">
					</div>
					<div class="chall__comp">
						<div class="chall-item__title">The fastest support</div>
						<p class="call-item__text">
							It's Nike your favorite sport brand ever! Now we make a new field for our users. Why? Because we think that we want to help you more in your life. So, we choose the healthy food field for you to be the super feature in your next life.
						</p>
						<p><a href="offers1.html">The fastest support <i class="fas fa-arrow-right"></i></a></p>
					</div>
				</div>

				<div class="chall-item ">
					<div class="chall-item__img ">
						<img src="img/home/chall.png" alt="challenge" class="img-responsive">
					</div>
					<div class="chall__comp">
						<div class="chall-item__title">The fastest support</div>
						<p class="call-item__text">
							It's Nike your favorite sport brand ever! Now we make a new field for our users. Why? Because we think that we want to help you more in your life. So, we choose the healthy food field for you to be the super feature in your next life.
						</p>
						<p><a href="offers1.html">The fastest support <i class="fas fa-arrow-right"></i></a></p>
					</div>
				</div>

				<div class="chall-item ">
					<div class="chall-item__img ">
						<img src="img/home/chall.png" alt="challenge" class="img-responsive">
					</div>
					<div class="chall__comp">
						<div class="chall-item__title">The fastest support</div>
						<p class="call-item__text">
							It's Nike your favorite sport brand ever! Now we make a new field for our users. Why? Because we think that we want to help you more in your life. So, we choose the healthy food field for you to be the super feature in your next life.
						</p>
						<p><a href="offers1.html">The fastest support <i class="fas fa-arrow-right"></i></a></p>
					</div>
				</div>
			</div>

		</section>
		<section class="s-menu">
			<div class="s-title">
				<div class="s-title__text">
					Menu
					<div class="s-title__bb"></div>
				</div>
			</div>
			<div class="good-cart-wrap">
				<div class="bgc-white"></div>
				<div class="menu-carousel owl-carousel">
					{% include 'partials/menu-cart.html' %}
					{% include 'partials/menu-cart.html' %}
					{% include 'partials/menu-cart.html' %}
					{% include 'partials/menu-cart.html' %}
				</div>
			</div>
			
		</section>
	</div>
	
</main>

{% include 'partials/_footer.html' %}



{% endblock %}