{% set title = 'Log In' %}
{% set page__title = 'log-in__page' %}

{% extends 'layout/_layout.html' %}

{% block content %}

{% include "partials/_header-clear.html" %}

<main class="page-content__wrap">
	<section class="form-window">
			<div class="left">
				<div class="line-p"><h2 class="h2">Log In</h2></div>
				<form action="#" method="post">
					<input class="square-input" type="text" placeholder="User name / E-mail / Phone" name="login" required>
					<input class="square-input" type="password" placeholder="Password" required>
					<div class="wrap">
								
						<label for="remember" name="remember"><input type="checkbox" id="remember">remember me</label>
						<a href="#">Forget Password?</a>
					</div>
				</form>
				<button class="button square overlay">Log In</button>
				<p class="line-p">Haven`t an account?</p>
				<a href="create-account.html" class="button square">Create a New Account</a>
				<p class="line-p">Or:</p>
				<div class="social-btn-composition">
					<div class="button-soc"><i class="fab fa-facebook-f"></i>Create</div>
					<div class="button-soc"><i class="fab fa-google-plus-g"></i>Create</div>
					<div class="button-soc"><i class="fab fa-twitter"></i>Create</div>
				</div>
				
				<div class="ftr__log-in copyright">&copy; 2018 Saad Muhamed, All Rights Reserved</div>
			</div>
			<div class="right">
				
				<div class="text-on-img">
					<h6 class="h6">The fastest support</h6>
					<p>It's Nike your favorite sport brand ever! Now we make a new field for our users. Why? Because we think that we want to help you more in your life. So, we choose the healthy food field for you to be the super feature in your next life.</p>
				</div>
			</div>
	</section>
</main>

{% endblock %}