{% set title = 'Offer-cart' %}
{% set page__title = 'offer__page' %}
{% set offers = 'is-active'%}

{% extends 'layout/_account-layout.html' %}


{% block header %}

{% include "partials/_header-auth.html" %}

{% endblock %}



{% block content %}

<section class="offer-cart">
	
	<div class="cart-gallery">
		<div class="cart-gallery-valuation">
			<button class="cart-gallery-valuation__btn rating-hand-btn"><i class="fas fa-thumbs-up"></i></button>
			<button class="cart-gallery-valuation__btn rating-hand-btn"><i class="fas fa-thumbs-down"></i></button>
		</div>
		<div class="cart-gallery-carousel owl-carousel" data-slider-id="1">
			
			<div class="cart-gallery-carousel__item" style="background-image: url(img/home/2.png)">
			</div>
			<div class="cart-gallery-carousel__item" style="background-image: url(img/items/good2.png)">
			</div> 
			<div class="cart-gallery-carousel__item" style="background-image: url(img/home/food.png)">
			</div>
		</div>

		<div class="owl-thumbs" data-slider-id="1">
		    <button class="owl-thumb-item" style="background-image: url(img/home/2.png)"></button>
		    <button class="owl-thumb-item" style="background-image: url(img/items/good2.png)"></button>
		    <button class="owl-thumb-item" style="background-image: url(img/home/food.png)"></button>
		</div>
	
	</div>
	
	{% include "partials/_cart-info.html" %}

</section>




{% endblock %}



{% block footer %}

{% include 'partials/_footer.html' %}

{% endblock %}