{% set title = 'Test' %}
{% set page__title = test__page' %}

{% extends 'layout/_layout.html' %}


{% block content %}


				<h2 id="testExample">
					Hello, this is example div. So let`s, Katja, start to do smth. 
				</h2>
				<p>Making a web pae interactive</p>
				<button id="toggleList">Hide list</button>
				<div class="list">
					<p  class="description">Things, that are purple: </p>
					<input type="text" class="description">
					<button class="description">Change list description</button>
					<ul>
						<li>grapes</li>
						<li class="error-not-purple">oranges</li>
						<li>amethyst</li>
						<li class="error-not-purple">fire tracks</li>
						<li>lavender</li>
						<li class="error-not-purple">oranges</li>
						<li>plums</li>
					</ul>
					<input type="text" class="addItemInput">
					<button class="addItemBtn">Add item</button>
				</div>
				
		

{% endblock %}