<div class="cart-info">

	<div class="cart-info__title">
		Nike Zoom Running Package
	</div>


	<div class="cart-info__composition">
		<div class="info-box ">
			<div class=" info-box__title">
				<div class="info-box__header ">Ingredients</div> 
				<div class="rating-stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
				</div>
			</div>
			<p class="info-box__content">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
			</p>
		</div>
	</div>
	
	<div class="cart-info__cta">
		<div class="cart-info__price">20$</div>	
		<i class=" cart-info__basket fas fa-cart-plus"></i>
		<button class="cart-info__btn btn">Eat Now</button>	

		<div class="cart-info-colors">
			<button class="cart-info-colors__circle"></button>
			<button class="cart-info-colors__circle is-active "></button>
			<button class="cart-info-colors__circle "></button>
			<button class="cart-info-colors__circle "></button>
			<button class="cart-info-colors__circle "></button>
		</div>
	</div>	

</div>