<div class="feedback-cart">
	<div class="feedback-cart__content"><!-- 
	 --><div class="feedback-cart__user-img"><img class="img-responsive" src="img/items/user1.png" alt="user"></div>
		<div class="feedback-cart__composition">
			<div class="feedback-cart__user-name">User 2001</div>
			<div class="feedback-cart__time">24 min ago</div>
			<div class="feedback-cart__text">
				It's Nike your favorite sport brand ever! Now we make a new field for our users. Why? Because we think that we want to help you more in your life. So, we choose the healthy food field for you to be the super feature in your next life.
			</div>
			<button class="feedback-cart__btn rating-hand-btn btn-grey"><i class="fas fa-thumbs-up"></i></button>
			<button class="feedback-cart__btn rating-hand-btn btn-grey"><i class="fas fa-thumbs-down"></i></button>
		</div>
	</div>
	<div class="feedback-cart__img" style="background-image: url(img/items/meal1.png);"></div>
</div>		