  <div class="feedback-item">
    <div class="feedback-item__composition">
      <div class="feedback-item__title">
        <span>Previous order</span>
        <span>17 p</span>
      </div>
      <p class="feedback-item__text">
        It's Nike your favorite sport brand ever! Now we make a new field for our users.
        Why? Because we think that we want to help you more in your life. So, we choose
        the healthy food field for you to be the super feature in your next life.
      </p>
    </div>

    <div class="feedback-item__cta">
      <div>4 weeks ago</div>
      <div class="feedback-item__btns">
        <button class="feedback-item__btn cta-btn"><i class="far fa-times-circle"></i></button>
        <button class="feedback-item__btn cta-btn"><i class="fas fa-download"></i></button>
      </div>
    </div>
    <div class="feedback-item__img">
      <img class="img-responsive" src="../img/items/good1.png" alt="good">
    </div>
  </div>
