<footer class="main-footer">
		<div class="footer__top container-xl-offset-2 container-lg-offset-1 container-xs ">
			<div class="footer__menu">
				<nav>
					<ul class="upcs">
						<li><a href="#">Find a restaurant</a></li>
						<li><a href="#">Log in for email</a></li>
						<li><a href="#">Sign in for email</a></li>
						<li><a href="#">Site feedback</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer__menu">
				<nav>
					<ul>
						<li class="upcs"><a href="#">Get Help</a></li>
						<li><a href="#">Order Status</a></li>
						<li><a href="#">Delivery</a></li>
						<li><a href="#">Returns</a></li>
						<li><a href="#">Payment Options</a></li>
						<li><a href="#">Contact US</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer__menu">
				<nav>
					<ul>
						<li class="upcs"><a href="#">About Nike</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Investors</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="footer__bottom container-xl-offset-1">
			<div class="footer__logo">
				<div class="img-responsive"><img src="img/nike2.png" alt="Nike"></div>
				<p> Just Eat It!</p>
			</div>
			<div class="footer__content">
				<nav class="footer__content-menu">
					<ul>
						<li><a href="#">Guides</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Terms of Sales </a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</nav>
				<div class="copyright">&copy; 2018 Saad Muhamed, All Rights Reserved</div>
			</div>
			<div class="footer__networks">
				<nav>
					<ul>
						<li><a  class="net__item" href="#"><i class="fab fa-google-plus-g"></i></a></li>
						<li><a class="net__item"  href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a  class="net__item" href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</nav>
			</div>
		</div>

</footer>