<div class="good-cart"> 
	<img class=" good-cart__img img-responsive" src="img/items/good1.png" alt="Nike Air Max">
	<div class="good-cart__bgc"><p class="good-cart__title">Nike Air Max <br><span class="good-cart__br">Package</span></p>	
		<div class="good-cart__line">
			<button class="good-cart__basket"><i class="fas fa-cart-plus"></i></button>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="far fa-star"></i>
			</div>
		</div>
		<button class="good-cart__button btn-wide">Eat Now!</button>
	</div>
</div>