<header class="header padding-2 header-main ">


	<div class="header-container">
		
		<div class="header-item">

			<div class="header-item__content">
				
				<a href="../index.html" class="logo">
					<img class="img-responsive" src="img/home/logo.png" alt="Nike">
				</a>

			</div>
			
			<div class="header-item__content header-auth">
				
				<button class="header-auth__btn btn-transp btn-pad fa"> 2 <i class="fas fa-shopping-cart"></i></button>
				<a href="log-in.html" class="header-auth__btn btn-grey btn-pad">Log in </a>
				<a href="create-account.html"class="header-auth__btn btn-accent btn-pad">Sign up</a>

			</div>

		</div>


		<div class="header-item">

			

			<div class="header-item__content">
				<nav>
					<ul class="main-menu">
						<li><a href="index.html" class="is-active">Home</a></li>
						<li><a href="news.html">News</a></li>
						<li><a href="offer-page.html">Features</a></li>
						<li><a href="#">Challenges</a></li>
						<li><a href="#">Menu</a></li>
					</ul>

				</nav>
			</div>
			
			<div class="header-item__content">

				<a href="#" class="just-it-btn btn-pad btn-grey"><i class="fas fa-globe-americas"></i></a>
				<a href="#" class="just-it-btn  btn-pad btn-accent">Just Eat it!</a>	
			</div>
		</div>


	</div>
	

</header>