<header class="header header-empty padding-2">

	<div class="header-container">
		
		<div class="header-item">

			<div class="header-item__content">

				<div class="logo">
					<a href="../index.html" class="logo__link">
						<svg class="icon icon-logo">
							<use xlink:href="img/svg/sprite.svg#nike" />
						</svg>
					</a>
				</div>

			</div>

		</div>


		<div class="header-item">

			<div class="header-item__content">

				<a href="#" class="just-it-btn btn-pad btn-grey"><i class="fas fa-globe-americas"></i></a>
				<a href="#" class="just-it-btn  btn-pad btn-accent">Just Eat it!</a>	
			</div>
		</div>

	</div>

</header>