<header class="header header-empty padding-2">

	<div class="header-container">
		
		<div class="header-item">

			<div class="header-item__content">
				
				<a href="../index.html" class="logo">
					<img class="img-responsive" src="img/home/logo.png" alt="Nike">
				</a>

			</div>

		</div>


		<div class="header-item">

			<div class="header-item__content">

				<a href="#" class="just-it-btn btn-pad btn-grey"><i class="fas fa-globe-americas"></i></a>
				<a href="#" class="just-it-btn  btn-pad btn-accent">Just Eat it!</a>	
			</div>
		</div>


	</div>

</header>