<header class="main-header">
	<div class="container-auth">
		<div class="header_wrap">
			<div class="header-left">
				<a href="../index.html" class="logo img-responsive"><img src="img/home/logo.png" alt="Nike"></a>
			</div>

			<div class="header-right">
				<a href="#" class="button grey"><i class="fas fa-globe-americas"></i></a>
				<a href="#" class="button accent">Just Eat it!</a>	
			</div>

			<!-- authorized-menu content -->

			<div class="header_line">

				<div class="header__user-item">


					<button class="button transparent shopping-cart"> 2 <i class="fas fa-shopping-cart"></i></button>

					<form class="header__search-form" action="#" method="post">
						<label for="search-field"><i class="fas fa-search"></i></label>
						<input id="search-field" type="text" placeholder="Search for something ...">
					</form>

				</div>

				<div class="header__user-item">
					<div class="user-navigation">
							<a href="#"><i class="fas fa-envelope-open-text"></i>Messages</a>
							<a href="#"><i class="far fa-bell"></i>Notifications</a>
							<a href="#">?</a>
					</div>


					<button class="user-profile__button">
						<img class="img-responsive" src="../img/user.png" alt="icon"><!-- 
					 --><span href="#" class="user__name">Saad M.</span><!-- 
					 --><i class="fas fa-angle-down"></i>
					</button>
	
					
				</div>

			</div>

			<!-- END of authorized-menu content -->


		</div>
	</div>
</header>