<header class="main-header">
	<div class="container-not-auth">
		<div class="header_wrap">
			<div class="header-left">
				<a href="../index.html" class="logo img-responsive"><img src="img/home/logo.png" alt="Nike"></a>
			</div>

			<div class="header-right">
				<a href="#" class="button grey"><i class="fas fa-globe-americas"></i></a>
				<a href="#" class="button accent">Just Eat it!</a>	
			</div>

			<!-- NOT authorized-menu content -->

			<div class="header_line">

				<div class="header_line-item auth"><!-- 

						 --><button class="button transparent fa"> 2 <i class="fas fa-shopping-cart"></i></button><!-- 
						 --><a href="log-in.html" class="button grey log-in-button">Log in </a><!-- 
						 --><a href="create-account.html"class="button accent sign-up">Sign up</a><!-- 

			 --></div><!-- 
			 --><div class="header_line-item">
					<nav>
						<ul class="main-menu">
							<li><a href="index.html" class="is-active">Home</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="offer-page.html">Features</a></li>
							<li><a href="#">Challenges</a></li>
							<li><a href="#">Menu</a></li>
						</ul>

						<!-- mobile menu -->
						<ul id="navs" data-open="Menu" data-close="Menu">
						  <li><a href="#">Home</a></li>
						  <li><a href="#">News</a></li>
						  <li><a href="offer-page.html">Features</a></li>
						  <li><a href="#">Challenges</a></li>
						  <li><a href="#">Menu</a></li>
						</ul>
					</nav>
				</div> 	

			</div>

			<!-- END of NOT authorized-menu content -->

		</div>
	</div>
</header>
