<div class="package-view" style="background-image: url(img/items/pack.png);">

	<div class="package-view__container">
		
		<h3 class="package-view__title">Nike Mag</h3>
		<p class="package-view__sub-title" >Package</p>

	</div>


	<div class="package-view__container">

		<div class="package-view__box">

			<div class="info-box">
				<div class="info-box__title">
					Ingredients 
					<span class="info-box__price">20$</span>
				</div>
				<p class="info-box__content">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</p>
			</div>
			
		</div>

		<!-- cta - call to action -->
		<div class="package-view__cta">
			<div class="rating-stars">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="far fa-star"></i>
			</div>
			<button class="package-view__btn btn-wide">Eat Now!</button>
		</div>

	</div>

</div>