<div class="package-view" style="background-image: url(../img/items/pack.png);">
	<div class="package-view__title">
		<h3 class="package-view__h h3">Nike Mag</h3>
		<p class="package-view__title-unit" >Package</p>
	</div>
	<div class="package-view__info">
		<div class="package-view__receipt ingredients-box">
			<div class=" package-view__receipt-title  ingredients-box__title">
				<div class="ingredients-box__header">Ingredients</div> 
				<div class="price ingredients-box__price">20$</div>
			</div>
			<p class="package-view__receipt-text ingredients-box__content">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
			</p>
		</div>
		<!-- cta - call to action -->
		<div class="package-view__cta">
			<div class="rating-stars">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="far fa-star"></i>
			</div>
			<button class="package-view__btn btn">Eat Now!</button>
		</div>
	</div>

</div>