<div class="window-container">

	<aside class="window-menu-sidebar">
		<nav class="menu-sidebar">
			<ul>
				<li class="menu-sidebar__item"><a href="#">Home</a></li>
				<li class="menu-sidebar__item"><a href="offer-page.html">Offers</a></li>
				<li class="menu-sidebar__item"><a href="news.html">News</a></li>
				<li class="menu-sidebar__item"><a href="#">Challenges</a></li>
				<li class="menu-sidebar__item"><a href="#">Achievments</a></li>
				<li class="menu-sidebar__item"><a href="#">History</a></li>
				<li class="menu-sidebar__item"><a href="#">Features</a></li>
				<li class="menu-sidebar__item"><a href="#">Settings</a></li>
			</ul> 
			<button class="on"><i class="fas fa-arrow-right"></i></button>
		</nav> 	
	</aside>
	<section class="window-content">
		<div class="window-menu-ham">
			<button class="window-menu-ham_button">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
		
		<div class="window-content">
			{%include "partials/_feedback-cart.html" %}
		</div>


	</section>

</div>

