.features
	&-section

		padding: 
			top: 12.9vw
			bottom:  18.9vw
		margin: -16% -14.28vw
		background-size: cover
		background-position: center
		+m(1600)
			margin-top: -14%
		+m(1200)
			margin-top: -12%
	&-container
		padding: 20%  14.28vw
		
	.owl-carousel
		.owl-item
			margin: 0

.features
	&-composition

		&-carousel
			color: #fff

			.owl-dots
				width: 100%
				position: absolute
				bottom: -7.9vw
				text-align: center

				button.owl-dot
					width: get-rem(11px)
					height: get-rem(11px)
					background-color: $grey-text
					margin: 5px
					transition: all .4s ease 
					border-radius: 1rem
					cursor: pointer 
					&.active
						background-color: #fff
						width: get-rem(38px)

				
		&-item
			padding: 0 10px
			.page-title
				color: inherit
		&__text
			max-width: 1125px
			margin:
				top: 3rem
				bottom: 0
			font-size: get-rem(30px)
			+m(1200)
				font-size: get-rem(20px)

